/* @import "tailwindcss"; */
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
#root {

  position: sticky; /* Make the root element sticky */
  top: 0; /* Stick to the top of its containing element */
  z-index: 10; /* Ensure it stays above other content if needed */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 ;
  text-align: center;
}

/*.icon-button svg.liked {*/
/*  color: #e91e63; !* pink[600] *!*/
/*}*/

/*.icon-retweet {*/
/*  color: inherit;*/
/*  transition: color 0.2s ease;*/
/*}*/

/*.icon-retweet.clicked {*/
/*  color: #1b5e20; !* Dark Green *!*/
/*}*/

.icon-like {
  color: inherit;
  transition: color 0.2s ease;
}

.icon-like.liked {
  color: #e91e63; /* pink */
}

.icon-retweet {
  color: inherit;
  transition: color 0.2s ease;
}

.icon-retweet.clicked {
  color: #1b5e20; /* dark green */
}

