@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
    margin: 0; /* Reset the default body margin */
}

html {
    padding: 0; /* Reset default html padding */
}

#root {
    /* ... other styles ... */
}

.hideScrollBar::-webkit-scrollbar{
    display: none;

}


